@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Josefin Sans", sans-serif !important;
}

.font-esthetic {
  font-family: "Sacramento", cursive !important;
}

.font-arabic {
  font-family: "Noto Naskh Arabic", serif !important;
}
